* {
    box-sizing: border-box;
}

body, html {
    background: #e9ecef;
    color: #333333;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/** GENERALES **/
/** ************************** **/
.wrapper {
    /*width: 100%;
    height: 100vh;*/
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor-pointer {
    cursor: pointer !important;
}
.font-weight-bold { font-weight: bold !important; }

.disabled {
    cursor: not-allowed;
    background-color: #e9ecef;
    pointer-events: none !important;
}

/** COLORES DE TEXTO **/
/** ************************** **/
.text-blue { color: #5e72e4 !important; }

/** FLEX **/
/** ************************** **/
.d-flex { display: flex; }
.align-items-center { align-items: center; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }

/** TAMAÑOS DE FUENTE **/
/** ************************** **/
.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
.font-16 { font-size: 16px; }
.font-18 { font-size: 18px; }
.font-20 { font-size: 20px; }
.font-22 { font-size: 22px; }

/** COLORES DE FONDO **/
/** ************************** **/
.bg-none { background: none !important; }
.bg-white { background: #ffffff; }

/** PADDING **/
/** **************** **/
.p-1 { padding: 0.5rem; }
.p-2 { padding: 1rem; }
.p-3 { padding: 2rem; }
.p-4 { padding: 3rem; }
.p-5 { padding: 4rem; }

.px-1 { padding: 0 0.5rem; }
.px-2 { padding: 0 2.5rem; }
.px-3 { padding: 0 3.5rem; }
.px-4 { padding: 0 4.5rem; }
.px-5 { padding: 0 5.5rem; }

.pt-1 { padding-top: 0.5rem; }
.pt-2 { padding-top: 1rem; }
.pt-3 { padding-top: 2rem; }
.pb-1 { padding-bottom: 0.5rem; }
.pb-2 { padding-bottom: 1rem; }
.pb-3 { padding-bottom: 1rem; }

/** MARGENES **/
/** ***************** **/
.m-1 { margin: 0.5rem; }
.m-2 { margin: 1rem; }
.m-3 { margin: 2rem; }
.m-4 { margin: 3rem; }
.m-5 { margin: 4rem; }

.mx-1 { margin: 0 1rem; }
.mx-2 { margin: 0 2rem; }
.mx-3 { margin: 0 3rem; }
.mx-4 { margin: 0 4rem; }
.mx-5 { margin: 0 5rem; }

.mt-1 { margin-top: 0.5rem; }
.mt-2 { margin-top: 1rem; }

.mb-1 { margin-bottom: 0.5rem; }
.mb-2 { margin-bottom: 1rem; }

/** BOTONES **/
/** **************** **/
.btn {
    padding: 20px 28px;
    font-size: 14px;
    border-radius: 5px;
    border: none !important;
    font-weight: bolder;
    cursor: pointer;
    &.btn-primary {
        background-color: #8392AB90;
        &:hover {
            background-color: #8392AB;
        }
    }
    &.btn-secondary {
        background-color: #fbcf33;
        &:hover {
            background-color: #FBCF3399;
        }
    }
    &.btn-return {
        background-color: transparent !important;
        border: 1px solid #fb6340 !important;
        &:hover {
            background-color: #fb6340 !important;
            color: white;
        }
    }
}

/** INPUT TEXT **/
/** ******************* **/
.text-group {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    .text-form {
        border: 1px solid #d2d6da;
        border-radius: 4px;
        padding: 10px 14px;
        width: auto;
    }
    .text-error {
        color: crimson;
    }
    .error-field {
        border-color: crimson !important;
        background-color: #fff !important;
    }
}

/** TOOLTIP **/
/** ************************ **/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
